# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/cmake-build-release/CMakeFiles/clion-log.txt
/cmake-build-debug/file.txt
*.user
/out/build/x64-Debug (default)/VSInheritEnvironments.txt
/out/build/x64-Debug (default)/Testing/Temporary/LastTest.log
/out/build/x64-Debug (default)/cmake_install.cmake
/out/build/x64-Debug (default)/CMakeFiles/TargetDirectories.txt
/out/build/x64-Debug (default)/CMakeFiles/ShowIncludes/main.c
/out/build/x64-Debug (default)/CMakeFiles/ShowIncludes/foo.h
/out/build/x64-Debug (default)/CMakeFiles/rules.ninja
/out/build/x64-Debug (default)/CMakeFiles/Int128.dir/vc140.pdb
/out/build/x64-Debug (default)/CMakeFiles/CMakeOutput.log
/out/build/x64-Debug (default)/CMakeFiles/cmake.check_cache
/out/build/x64-Debug (default)/CMakeFiles/3.18.20081302-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.cpp
/out/build/x64-Debug (default)/CMakeFiles/3.18.20081302-MSVC_2/CompilerIdC/CMakeCCompilerId.c
/out/build/x64-Debug (default)/CMakeFiles/3.18.20081302-MSVC_2/CMakeSystem.cmake
/out/build/x64-Debug (default)/CMakeFiles/3.18.20081302-MSVC_2/CMakeRCCompiler.cmake
/out/build/x64-Debug (default)/CMakeFiles/3.18.20081302-MSVC_2/CMakeDetermineCompilerABI_CXX.bin
/out/build/x64-Debug (default)/CMakeFiles/3.18.20081302-MSVC_2/CMakeDetermineCompilerABI_C.bin
/out/build/x64-Debug (default)/CMakeFiles/3.18.20081302-MSVC_2/CMakeCXXCompiler.cmake
/out/build/x64-Debug (default)/CMakeFiles/3.18.20081302-MSVC_2/CMakeCCompiler.cmake
/out/build/x64-Debug (default)/CMakeCache.txt
/out/build/x64-Debug (default)/build.ninja
/out/build/x64-Debug (default)/.ninja_log
/out/build/x64-Debug (default)/.ninja_deps
/out/build/x64-Debug (default)/.cmake/api/v1/reply/target-Int128-Debug-4f88e71ac89146c61621.json
/out/build/x64-Debug (default)/.cmake/api/v1/reply/index-2020-12-19T21-49-28-0473.json
/out/build/x64-Debug (default)/.cmake/api/v1/reply/codemodel-v2-77558a1f470ed432cb54.json
/out/build/x64-Debug (default)/.cmake/api/v1/reply/cmakeFiles-v1-ae5c340a2d3f2e088bb0.json
/out/build/x64-Debug (default)/.cmake/api/v1/reply/cache-v2-960884393001887660d9.json
/out/build/x64-Debug (default)/.cmake/api/v1/query/client-MicrosoftVS/query.json
/cpp/src/x64/Release/WinInt128.pdb
/cpp/src/x64/Release/WinInt128.ipdb
/cpp/src/x64/Release/WinInt128.iobj
/cpp/src/x64/Debug/WinInt128.pdb
/cpp/src/x64/Debug/WinInt128.ilk
/cpp/src/WinInt128/x64/Release/WinInt128.tlog/WinInt128.write.1u.tlog
/cpp/src/WinInt128/x64/Release/WinInt128.tlog/WinInt128.lastbuildstate
/cpp/src/WinInt128/x64/Release/WinInt128.tlog/link.write.1.tlog
/cpp/src/WinInt128/x64/Release/WinInt128.tlog/link.read.1.tlog
/cpp/src/WinInt128/x64/Release/WinInt128.tlog/link.command.1.tlog
/cpp/src/WinInt128/x64/Release/WinInt128.tlog/CL.write.1.tlog
/cpp/src/WinInt128/x64/Release/WinInt128.tlog/CL.read.1.tlog
/cpp/src/WinInt128/x64/Release/WinInt128.tlog/CL.command.1.tlog
/cpp/src/WinInt128/x64/Release/WinInt128.log
/cpp/src/WinInt128/x64/Release/WinInt128.exe.recipe
/cpp/src/WinInt128/x64/Release/vcpkg.applocal.log
/cpp/src/WinInt128/x64/Release/vc142.pdb
/cpp/src/WinInt128/x64/Debug/WinInt128.tlog/WinInt128.write.1u.tlog
/cpp/src/WinInt128/x64/Debug/WinInt128.tlog/WinInt128.lastbuildstate
/cpp/src/WinInt128/x64/Debug/WinInt128.tlog/link.write.1.tlog
/cpp/src/WinInt128/x64/Debug/WinInt128.tlog/link.read.1.tlog
/cpp/src/WinInt128/x64/Debug/WinInt128.tlog/link.command.1.tlog
/cpp/src/WinInt128/x64/Debug/WinInt128.tlog/CL.write.1.tlog
/cpp/src/WinInt128/x64/Debug/WinInt128.tlog/CL.read.1.tlog
/cpp/src/WinInt128/x64/Debug/WinInt128.tlog/CL.command.1.tlog
/cpp/src/WinInt128/x64/Debug/WinInt128.log
/cpp/src/WinInt128/x64/Debug/WinInt128.exe.recipe
/cpp/src/WinInt128/x64/Debug/vcpkg.applocal.log
/cpp/src/WinInt128/x64/Debug/vc142.pdb
/cpp/src/WinInt128/x64/Debug/vc142.idb
/cpp/src/WinInt128/WinInt128.vcxproj.filters
/cpp/src/WinInt128/.vs/WinInt128/v16/ipch/AutoPCH/1e3ba972b95e84bc/PROGRAM.ipch
/cpp/src/WinInt128/.vs/WinInt128/v16/Browse.VC.db
/cpp/src/headers/Debug/Date.tlog/unsuccessfulbuild
/cpp/src/headers/Debug/Date.tlog/Date.lastbuildstate
/cpp/src/headers/Debug/Date.tlog/CL.command.1.tlog
/cpp/src/.vs/WinInt128/v16/ipch/AutoPCH/d9606950eb37a31/TESTING.ipch
/cpp/src/.vs/WinInt128/v16/ipch/AutoPCH/d23419394000292c/TESTING.ipch
/cpp/src/.vs/WinInt128/v16/ipch/AutoPCH/61cd8616c5ebd4cd/UINT128.ipch
/cpp/src/.vs/WinInt128/v16/ipch/AutoPCH/5f9a14de491539cd/TESTPROGRAM.ipch
/cpp/src/.vs/WinInt128/v16/ipch/AutoPCH/2b6807c75643e7ee/INT128_TESTS.ipch
/cpp/src/.vs/WinInt128/v16/ipch/AutoPCH/2b10ef7ece6e25f0/INT128_TESTS.ipch
/cpp/src/.vs/WinInt128/v16/ipch/AutoPCH/1e3ba972b95e84bc/PROGRAM.ipch
/cpp/src/.vs/WinInt128/v16/ipch/AutoPCH/1be27789f53a3b4d/PROGRAM.ipch
/cpp/src/.vs/WinInt128/v16/Browse.VC.opendb
/cpp/src/.vs/WinInt128/v16/Browse.VC.db-wal
/cpp/src/.vs/WinInt128/v16/Browse.VC.db-shm
/cpp/src/.vs/WinInt128/v16/Browse.VC.db
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/Int128/v16/ipch/AutoPCH/645c862a3e6c5c6d/INT128_TESTS.ipch
/.vs/Int128/v16/Browse.VC.db
/.vs/CMake Overview
